*.json
*.cache
*.targets
*.pdb
*.props
*.csproj
*.suo
*.v2
*.testlog
*.manifest
*.CopyComplete
*.resources.dll
*.Extension.dll
*.Common.dll
*.FileListAbsolute.txt
OOP_GB.Inheritance.Tests/obj/Debug/netcoreapp3.1/OOP_GB.Inheritance.Tests.GeneratedMSBuildEditorConfig.editorconfig
OOP_GB.Inheritance.Tests/obj/Debug/netcoreapp3.1/OOP_GB.Inheritance.Tests.dll
OOP_GB.Inheritance.Tests/obj/Debug/netcoreapp3.1/OOP_GB.Inheritance.Tests.AssemblyInfo.cs
OOP_GB.Inheritance.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/testhost.exe
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/testhost.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/OOP_GB.Inheritance.Tests.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/OOP_GB.Inheritance.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.AdapterUtilities.dll
OOP_GB.Inheritance.Tests/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
OOP_GB.Inheritance/obj/Debug/netcoreapp3.1/OOP_GB.Inheritance.GeneratedMSBuildEditorConfig.editorconfig
OOP_GB.Inheritance/obj/Debug/netcoreapp3.1/OOP_GB.Inheritance.AssemblyInfo.cs
OOP_GB.Inheritance/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.FileListAbsolute.txt
*.dll