
OOP_GB/.vs/OOP_GB/v16/.suo
OOP_GB/.vs/OOP_GB/v16/.suo
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.dll
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.exe
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.pdb
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.runtimeconfig.dev.json
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/apphost.exe
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.assets.cache
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.FileListAbsolute.txt
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.dll
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.GeneratedMSBuildEditorConfig.editorconfig
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.genruntimeconfig.cache
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.pdb
OOP_GB/OOP_GB/obj/OOP_GB.csproj.nuget.dgspec.json
OOP_GB/OOP_GB/obj/OOP_GB.csproj.nuget.g.props
OOP_GB/OOP_GB/obj/project.assets.json
OOP_GB/OOP_GB/obj/project.nuget.cache
*.dll
*.cache
*.pdb
*.cache
code_style.md
*.v2
OOP_GB/OOP_GB.FactoryMethod/bin/Debug/netcoreapp3.1/OOP_GB.FactoryMethod.deps.json
OOP_GB/OOP_GB.FactoryMethod/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OOP_GB/OOP_GB.FactoryMethod/obj/Debug/netcoreapp3.1/OOP_GB.FactoryMethod.AssemblyInfo.cs
OOP_GB/OOP_GB.FactoryMethod/obj/Debug/netcoreapp3.1/OOP_GB.FactoryMethod.csproj.FileListAbsolute.txt
OOP_GB/OOP_GB.FactoryMethod/obj/Debug/netcoreapp3.1/OOP_GB.FactoryMethod.GeneratedMSBuildEditorConfig.editorconfig
*.json
OOP_GB/.vs/OOP_GB/v16/.suo
*.v2
*.props
*.targets
*.sln
OOP_GB/OOP_GB/obj/project.assets.json
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.FileListAbsolute.txt
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.FileListAbsolute.txt
*.csproj
OOP_GB/.vs/OOP_GB/DesignTimeBuild/.dtbcache.v2
OOP_GB/.vs/OOP_GB/v16/.suo
OOP_GB/OOP_GB.FactoryMethod/OOP_GB.FactoryMethod.csproj
OOP_GB/OOP_GB.sln
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.deps.json
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.dll
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.pdb
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.runtimeconfig.dev.json
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.runtimeconfig.json
OOP_GB/OOP_GB/code_style.md
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.AssemblyInfo.cs
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.AssemblyReference.cache
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.CopyComplete
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.CoreCompileInputs.cache
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.FileListAbsolute.txt
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.dll
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.pdb
OOP_GB/OOP_GB/obj/OOP_GB.csproj.nuget.dgspec.json
OOP_GB/OOP_GB/obj/OOP_GB.csproj.nuget.g.props
OOP_GB/OOP_GB/obj/OOP_GB.csproj.nuget.g.targets
OOP_GB/OOP_GB/obj/project.assets.json
OOP_GB/OOP_GB/obj/project.nuget.cache
OOP_GB/OOP_GB/OOP_GB.csproj
