
OOP_GB/.vs/OOP_GB/v16/.suo
OOP_GB/.vs/OOP_GB/v16/.suo
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.dll
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.exe
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.pdb
OOP_GB/OOP_GB/bin/Debug/netcoreapp3.1/OOP_GB.runtimeconfig.dev.json
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/apphost.exe
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.assets.cache
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.csproj.FileListAbsolute.txt
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.dll
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.GeneratedMSBuildEditorConfig.editorconfig
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.genruntimeconfig.cache
OOP_GB/OOP_GB/obj/Debug/netcoreapp3.1/OOP_GB.pdb
OOP_GB/OOP_GB/obj/OOP_GB.csproj.nuget.dgspec.json
OOP_GB/OOP_GB/obj/OOP_GB.csproj.nuget.g.props
OOP_GB/OOP_GB/obj/project.assets.json
OOP_GB/OOP_GB/obj/project.nuget.cache
